.twitter-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.twitter-info div {
  width: 60%;
}

.twitter-info div span a {
  font-size: 0.8rem;
  font-style: italic;
  color: #a48cad;
}

.twitter-info h1 {
  font-size: 1.3rem;
}

.prof-pic {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.prof-pic:active, .prof-pic:hover {
  -webkit-box-shadow: 0px 1px 10px 2px rgba(92, 0, 128, 0.6);
          box-shadow: 0px 1px 10px 2px rgba(92, 0, 128, 0.6);
}

.under-the-sea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under-the-sea span {
  font-style: italic;
  font-size: 0.9rem;
}

.general-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.general-info span {
  font-size: 0.9rem;
  font-style: italic;
}

.general-info span:nth-of-type(1) {
  font-weight: 900;
}

.i-like {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  margin: 2rem auto;
  gap: 1rem;
}

.l-g-c {
  margin: 0 auto;
  height: 80px;
  width: 80px;
}

.l-g-t {
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 900;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.l-g-t:active, .l-g-t:hover {
  -webkit-box-shadow: 0px 1px 10px 2px rgba(92, 0, 128, 0.6);
          box-shadow: 0px 1px 10px 2px rgba(92, 0, 128, 0.6);
}

.others {
  -ms-grid-row: 4;
  grid-area: 4 / span 3;
  margin: 1rem auto;
}

.others .other-b {
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.other-b-l {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.natal-chart {
  margin: 1.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(92, 0, 128, 0.062);
  border-radius: 8px;
  padding: 1.5rem 1rem;
}

.natal-chart .title {
  margin-bottom: 0.6rem;
}

.chart {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin: 1rem auto;
}

.chart span {
  margin-bottom: 0.1rem;
}

.planet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

.planet:hover {
  background-color: rgba(92, 0, 128, 0.062);
}

.planet span:first-of-type {
  font-weight: 600;
}

.do-not {
  margin: 1.5rem auto;
}

.do-not span {
  font-weight: 600;
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

ul li {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-style: italic;
}

ul li::before {
  content: '- ';
  font-weight: 800;
}

.byf {
  margin: 1.5rem auto;
}

.byf span {
  font-weight: 600;
  font-size: 0.9rem;
}

.navbar {
  margin: 2rem auto;
  text-align: center;
  -ms-grid-row: 2;
  grid-area: 2 / span 2;
}

.navbar ul {
  width: 60%;
  min-width: 280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar a {
  background-color: rgba(92, 0, 128, 0.062);
  font-style: normal;
  padding: 1rem;
  border-radius: 7px;
}

.navbar .active {
  background-color: rgba(92, 0, 128, 0.178);
  font-weight: 600;
}

.navbar li::before {
  content: '';
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5c0080;
  font-family: sans-serif;
  color: #3f0257;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
  color: #3f0257;
}

.App {
  width: 100vw;
}

.card-container {
  background-color: white;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  padding: 1em;
  margin: 5rem auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  -ms-grid-row: 1;
  grid-area: 1 / span 3;
  font-weight: 600;
  margin-bottom: 0.6rem;
  text-align: center;
}

@media (min-width: 600px) {
  .card-container {
    padding: 2rem;
  }
  .card-content {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    width: 100%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .twitter-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .twitter-info .info {
    margin-left: 15px;
  }
  .under-the-sea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .under-the-sea span {
    text-align: right;
  }
  .navbar {
    width: 100%;
    margin: 2.5rem auto 0.5rem auto;
  }
  .navbar ul {
    width: 80%;
  }
  .navbar a {
    padding: 1rem 2rem;
  }
  .gen-info {
    -ms-grid-row: 3;
    grid-area: 3 / span 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .natal-chart {
    -ms-grid-row: 3;
    grid-area: 3 / span 2;
    width: 90%;
    margin: 1.5rem auto;
  }
  .i-like {
    -ms-grid-row: 4;
    grid-area: 4 / span 2;
    width: 90%;
    gap: 2rem;
    margin: 1.5rem auto;
  }
  .l-g-c {
    width: 120px;
    height: 120px;
  }
  .others {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */